* {
  padding: 0px;
  margin: 0p;
}
body {
  background-image: url(./glare_light_orange_red_fractal_abstraction_4k_5k_hd_abstract-1280x720.jpg);
  background-position: center;
  background-size: cover;
  
}
.form {
  margin-top: 5%;
  margin-left: 28%;
  margin-right: 35%;
  margin-bottom: 5%;
  border: 2px solid rgb(141, 123, 123);
  background-color: rgb(0, 0, 0)8, 45, 45);
  color: aliceblue;

 padding: 3%;
  position: relative;
}
h1 {
  font-family: "Times New Roman", Times, serif;

 
 margin-right: 70%;
}

.forgot {
  
  position: absolute;
  left: 55%;
  bottom: 24%;
}
.forgot h6 {
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}